@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Geist", sans-serif;
  margin: 0px;
}
html{
  scroll-behavior:smooth;
}
.section-wrapper{
  position:relative;
  max-width:1200px;
  margin:auto;
  padding-left: 2rem;
  padding-right: 2rem;
  border-left:1px solid rgba(255,255,255,.08);
  border-right:1px solid rgba(255,255,255,.08);

}

.section-wrapper::before{

  content:"";
  position:absolute;
  top:0;
  left:0;
  right:0;
  height:1px;
  background:rgba(255,255,255,.08);

}

.section-wrapper::after{

  content:"";
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height:1px;
  background:rgba(255,255,255,.08);

}


